# Dependencies
node_modules

# Build outputs
dist
.env
.env.*
!.env.example

# Vite
.vite
.turbo

# Testing
coverage
playwright-report
test-results
*.log

# IDE
.idea
.vscode
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Misc
*.local